body{
    background-color: dodgerblue;
}
  
   #questions{
    text-align: left;
  }
  #questionsIncomplete{
    color:grey;
  }
  .submit:hover {
  box-shadow:green;
  background:red;
  color:black;
  }
  
   
  